@import "../../styles/mixins.scss";

.input-fields-container {
    @include container;

    button {
        @include button;
    }

    .title {
        font-size: 1.3rem;
    }

    input {
        outline: 0;
        border-width: 0 0 2px;
        border-color: #e2f6ff;
    }
    input:focus {
        border-color: #cfe2ea;
      }
}