@import "../../styles/mixins.scss";

.file-input-container {
    @include container;

    .result-p {
        font-size: 1.3rem;
    }

    .warning-message {
        color: red;
        text-align: center;
    }

    button {
        @include button;
    }

    .input-container {
        border: 1px solid #e5e5e5;
        input[type=file]::file-selector-button {
            background-color: #e2f6ff;
            color: #000;
            border: 0px;
            border-right: 1px solid #e5e5e5;
            padding: 10px 15px;
            margin-right: 20px;
            transition: .5s;
        }

        input[type=file]::file-selector-button:hover {
            background-color: #cfe2ea;
            border: 0px;
            border-right: 1px solid #e5e5e5;
            cursor: pointer;
          }
    }
}

